Scrapy==0.22.2
SQLAlchemy==0.9.3
Twisted==13.2.0
apache-libcloud==0.14.1
argparse==1.2.1
boto==2.27.0
cssselect==0.9.1
lxml==3.2.4
psycopg2==2.5.2
pyOpenSSL==0.13.1
pyechonest==8.0.1
queuelib==1.1.1
salt==2014.1.0
scrapylib==1.0.3
six==1.5.2
w3lib==1.5
wheel>=0.22
wsgiref==0.1.2
zope.interface==4.1.0
